body{
    background-image: url("security.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    
}

.login-form{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
    
}

.form{
    position: relative;
    z-index: 1;
    background: rgba(6, 7, 8, 0.5);
    max-width: 360px;
    margin: 0 auto 10px;
    padding: 40;
    text-align: center;
    border-radius: 20px;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    color: rgb(255, 255, 255);
    background: transparent;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline:  0;
    background: rgb(119, 235, 83);
    width: 70%;
    border: 0;
    padding: 7px;
    color: rgb(121, 53, 199);
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.5;
}

.form button:hover{
    color: rgb(14, 12, 12);
    background: rgb(98, 221, 243);
    cursor: pointer;
}


